.toolbar {
  background-color: #000;

  .nav {
    display: flex;
    width: 100%;
    padding: 1.5rem 0;

    .nav-link {
      margin: 0.75rem 1.5rem;
      padding: 0.75rem 0;

      &:first-child {
        margin-left: 0;
      }

      &.end {
        margin-left: auto;
        margin-right: 0;
      }

      &.btn {
        background-color: #ffffff40;
        border-radius: 25px;
        width: 120px;
        text-align: center;
      }
    }
  }

  a {
    color: #F1F1F1;
      font-size: 1.25rem;
      text-decoration: none;
  }
}
