@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
}

body {
  margin: 0;
  background-color: #f1f1f1;
}

h1 {
  font-size: 1.5rem;
  margin: 1rem 0 2rem;
}

h3 {
  margin: 0.5rem 0;
  color: #242424;
  font-size: 1.5rem;
}

h6 {
  margin: 0.5rem 0;
  color: #4e4e4e;
  font-size: 1rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
}

.wrapper {
  max-width: 1010px;
  margin: 0 auto;
}

.layout {
  padding: 1.5rem;
}

@media only screen and (min-width : 768px) {
  body {
    background-color: #fff;
  }

  h1 {
    text-align: center;
  }
}

@media only screen and (min-width: 1180px) {
  h1 {
    margin: 2rem 0 4rem;
    font-size: 2rem;
    text-align: left;
  }

  h3 {
    margin-top: 0;
    font-size: 2rem;
  }

  h6 {
    margin-bottom: 0;
  }

  p {
    margin: 0;
  }

  .layout {
    padding: 1.5rem 0;
  }
}
